body {
  height: 1000px;
  background-color: lightgreen;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.nav {
  background-color: gold;
  text-align: center;
  position: sticky;
  top: 0;
}

h1 {
  text-align: center;
}

.container {
  position: relative;
  background-color: green;
  margin: 0 auto;
  width: 300px;
  height: 500px;
  border: 5px solid rgb(255, 255, 255);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}

.escanteio1 {
  position: absolute;
  left: 0;
  height: 15px;
  width: 15px;
  border-right: 5px solid rgb(255, 255, 255);
  border-bottom: 5px solid rgb(255, 255, 255);
  border-bottom-right-radius: 15px;
}

.grande-area1 {
  border-left: 5px solid rgb(255, 255, 255);
  border-right: 5px solid rgb(255, 255, 255);
  border-bottom: 5px solid rgb(255, 255, 255);
  width: 200px;
  height: 100px;
}

.pequena-area1 {
  margin: 0 auto;
  width: 100px;
  height: 50px;
  border-left: 5px solid rgb(255, 255, 255);
  border-right: 5px solid rgb(255, 255, 255);
  border-bottom: 5px solid rgb(255, 255, 255);
}

.entrada-area1 {
  position: relative;
  top: 45px;
  margin: 0 auto;
  width: 60px;
  height: 20px;
  border-right: 5px solid white;
  border-left: 5px solid white;
  border-bottom: 5px solid white;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.escanteio2 {
  position: absolute;
  right: 0;
  height: 15px;
  width: 15px;
  border-left: 5px solid rgb(255, 255, 255);
  border-bottom: 5px solid rgb(255, 255, 255);
  border-bottom-left-radius: 15px;
}

.centro {
  border: 5px solid rgb(250, 250, 250);
  width: 100px;
  height: 100px;
  border-radius: 100%;
}

.linha {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
  top: 50%;
  left: -100%;
  width: 300%;
}

.bola {
  background-color: rgb(255, 255, 255);
  border-radius: 100%;
  border: 5px solid rgb(255, 255, 255);
  width: 3px;
  height: 3px;
  position: absolute;
  left: 47.5%;
  top: -6px;
}

.escanteio3 {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 15px;
  width: 15px;
  border-right: 5px solid rgb(255, 255, 255);
  border-top: 5px solid rgb(253, 253, 253);
  border-top-right-radius: 15px;
}

.entrada-area2 {
  position: relative;
  top: -25px;
  margin: 0 auto;
  width: 60px;
  height: 20px;
  border-right: 5px solid rgb(255, 255, 255);
  border-top: 5px solid rgb(255, 255, 255);
  border-left: 5px solid white;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}

.grande-area2 {
  border-left: 5px solid rgb(253, 253, 253);
  border-right: 5px solid rgb(255, 255, 255);
  border-top: 5px solid rgb(255, 255, 255);
  width: 200px;
  height: 100px;
}

.pequena-area2 {
  position: relative;
  top: 20px;
  margin: 0 auto;
  width: 100px;
  height: 50px;
  border-left: 5px solid rgb(255, 255, 255);
  border-right: 5px solid rgb(255, 255, 255);
  border-top: 5px solid rgb(255, 255, 255);
}

.escanteio4 {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 15px;
  width: 15px;
  border-left: 5px solid rgb(255, 255, 255);
  border-top: 5px solid rgb(255, 255, 255);
  border-top-left-radius: 15px;
}
